<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.keylayout.Russian</key>
	<string>ru.png</string>
	<key>com.apple.keylayout.US</key>
	<string>us.png</string>
	<key>com.apple.keylayout.Ukrainian</key>
	<string>ua.png</string>
	<key>com.apple.PressAndHold</key>
	<string>noimg.png</string>
	<key>com.apple.keylayout.Bangla</key>
	<string>bd.png</string>
	<key>com.apple.keylayout.Czech-QWERTY</key>
	<string>cz.png</string>
	<key>com.apple.keylayout.Czech</key>
	<string>cz.png</string>
	<key>com.apple.keylayout.Estonian</key>
	<string>ee.png</string>
	<key>com.apple.keylayout.Hungarian-QWERTY</key>
	<string>hu.png</string>
	<key>com.apple.keylayout.Hungarian</key>
	<string>hu.png</string>
	<key>com.apple.keylayout.Latvian</key>
	<string>lv.png</string>
	<key>com.apple.keylayout.Lithuanian</key>
	<string>lt.png</string>
	<key>com.apple.keylayout.PolishPro</key>
	<string>pl.png</string>
	<key>com.apple.keylayout.Polish</key>
	<string>pl.png</string>
	<key>com.apple.keylayout.Slovak</key>
	<string>sk.png</string>
	<key>com.apple.keylayout.Slovak-QWERTY</key>
	<string>sk.png</string>
	<key>com.apple.keylayout.Bulgarian-Phonetic</key>
	<string>bg.png</string>
	<key>com.apple.keylayout.Bulgarian</key>
	<string>bg.png</string>
	<key>com.apple.keylayout.Byelorussian</key>
	<string>by.png</string>
	<key>com.apple.keylayout.Macedonian</key>
	<string>mk.png</string>
	<key>com.apple.keylayout.Russian-Phonetic</key>
	<string>ru.png</string>
	<key>com.apple.keylayout.RussianWin</key>
	<string>ru.png</string>
	<key>com.apple.keylayout.Serbian</key>
	<string>rs.png</string>
	<key>com.apple.keylayout.Ukrainian-PC</key>
	<string>ua.png</string>
	<key>com.apple.keylayout.Colemak</key>
	<string>us.png</string>
	<key>com.apple.keylayout.Dvorak-Left</key>
	<string>us.png</string>
	<key>com.apple.keylayout.Dvorak-Right</key>
	<string>us.png</string>
	<key>com.apple.keylayout.Dvorak</key>
	<string>us.png</string>
	<key>com.apple.keylayout.DVORAK-QWERTYCMD</key>
	<string>us.png</string>
	<key>com.apple.keylayout.KANA</key>
	<string>jp.png</string>
	<key>com.apple.keylayout.ABC-AZERTY</key>
	<string>us.png</string>
	<key>com.apple.keylayout.ABC-QWERTZ</key>
	<string>us.png</string>
	<key>com.apple.keylayout.ABC</key>
	<string>us.png</string>
	<key>com.apple.keylayout.Australian</key>
	<string>au.png</string>
	<key>com.apple.keylayout.Austrian</key>
	<string>at.png</string>
	<key>com.apple.keylayout.Belgian</key>
	<string>be.png</string>
	<key>com.apple.keylayout.Brazilian-ABNT2</key>
	<string>br.png</string>
	<key>com.apple.keylayout.Brazilian-Pro</key>
	<string>br.png</string>
	<key>com.apple.keylayout.Brazilian</key>
	<string>br.png</string>
	<key>com.apple.keylayout.British-PC</key>
	<string>gb.png</string>
	<key>com.apple.keylayout.British</key>
	<string>gb.png</string>
	<key>com.apple.keylayout.Canadian-CSA</key>
	<string>ca.png</string>
	<key>com.apple.keylayout.Canadian</key>
	<string>ca.png</string>
	<key>com.apple.keylayout.Danish</key>
	<string>dk.png</string>
	<key>com.apple.keylayout.Dutch</key>
	<string>nl.png</string>
	<key>com.apple.keylayout.Finnish</key>
	<string>fi.png</string>
	<key>com.apple.keylayout.French-PC</key>
	<string>fr.png</string>
	<key>com.apple.keylayout.French-numerical</key>
	<string>fr.png</string>
	<key>com.apple.keylayout.French</key>
	<string>fr.png</string>
	<key>com.apple.keylayout.German</key>
	<string>de.png</string>
	<key>com.apple.keylayout.Irish</key>
	<string>ie.png</string>
	<key>com.apple.keylayout.Italian-Pro</key>
	<string>it.png</string>
	<key>com.apple.keylayout.Italian</key>
	<string>it.png</string>
	<key>com.apple.keylayout.Norwegian</key>
	<string>no.png</string>
	<key>com.apple.keylayout.Portuguese</key>
	<string>pt.png</string>
	<key>com.apple.keylayout.Spanish-ISO</key>
	<string>es.png</string>
	<key>com.apple.keylayout.Spanish</key>
	<string>es.png</string>
	<key>com.apple.keylayout.Swedish-Pro</key>
	<string>se.png</string>
	<key>com.apple.keylayout.Swedish</key>
	<string>se.png</string>
	<key>com.apple.keylayout.SwissFrench</key>
	<string>chfr.png</string>
	<key>com.apple.keylayout.SwissGerman</key>
	<string>chde.png</string>
	<key>com.apple.keylayout.Tongan</key>
	<string>to.png</string>
	<key>com.apple.keylayout.USInternational-PC</key>
	<string>us.png</string>
	<key>com.apple.keylayout.2SetHangul</key>
	<string>kr.png</string>
	<key>com.apple.keylayout.AfghanDari</key>
	<string>noimg.png</string>
	<key>com.apple.keylayout.AfghanPashto</key>
	<string>noimg.png</string>
	<key>com.apple.keylayout.AfghanUzbek</key>
	<string>noimg.png</string>
	<key>com.apple.keylayout.Anjal</key>
	<string>noimg.png</string>
	<key>com.apple.keylayout.Arabic-AZERTY</key>
	<string>noimg.png</string>
	<key>com.apple.keylayout.Arabic-NorthAfrica</key>
	<string>noimg.png</string>
	<key>com.apple.keylayout.Arabic-QWERTY</key>
	<string>noimg.png</string>
	<key>com.apple.keylayout.Arabic</key>
	<string>noimg.png</string>
	<key>com.apple.keylayout.ArabicPC</key>
	<string>noimg.png</string>
	<key>com.apple.keylayout.Armenian-HMQWERTY</key>
	<string>am.png</string>
	<key>com.apple.keylayout.Armenian-WesternQWERTY</key>
	<string>am.png</string>
	<key>com.apple.keylayout.Azeri</key>
	<string>az.png</string>
	<key>com.apple.keylayout.Bangla-QWERTY</key>
	<string>bd.png</string>
	<key>com.apple.keylayout.CangjieKeyboard</key>
	<string>cn.png</string>
	<key>com.apple.keylayout.Cherokee-Nation</key>
	<string>noimg.png</string>
	<key>com.apple.keylayout.Cherokee-QWERTY</key>
	<string>noimg.png</string>
	<key>com.apple.keylayout.Croatian</key>
	<string>hr.png</string>
	<key>com.apple.keylayout.Croatian-PC</key>
	<string>hr.png</string>
	<key>com.apple.keylayout.Devanagari-QWERTY</key>
	<string>in.png</string>
	<key>com.apple.keylayout.Devanagari</key>
	<string>in.png</string>
	<key>com.apple.keylayout.Faroese</key>
	<string>fo.png</string>
	<key>com.apple.keylayout.FinnishExtended</key>
	<string>fi.png</string>
	<key>com.apple.keylayout.FinnishSami-PC</key>
	<string>fi.png</string>
	<key>com.apple.keylayout.Georgian-QWERTY</key>
	<string>ge.png</string>
	<key>com.apple.keylayout.Greek</key>
	<string>gr.png</string>
	<key>com.apple.keylayout.GreekPolytonic</key>
	<string>gr.png</string>
	<key>com.apple.keylayout.Gujarati-QWERTY</key>
	<string>in.png</string>
	<key>com.apple.keylayout.Gujarati</key>
	<string>in.png</string>
	<key>com.apple.keylayout.Gurmukhi-QWERTY</key>
	<string>noimg.png</string>
	<key>com.apple.keylayout.Gurmukhi</key>
	<string>noimg.png</string>
	<key>com.apple.keylayout.Hawaiian</key>
	<string>hawaii.png</string>
	<key>com.apple.keylayout.Hebrew-QWERTY</key>
	<string>noimg.png</string>
	<key>com.apple.keylayout.Hebrew</key>
	<string>noimg.png</string>
	<key>com.apple.keylayout.Hebrew-PC</key>
	<string>noimg.png</string>
	<key>com.apple.keylayout.Icelandic</key>
	<string>ic.png</string>
	<key>com.apple.keylayout.Inuktitut-Nunavut</key>
	<string>noimg.png</string>
	<key>com.apple.keylayout.Inuktitut-Nutaaq</key>
	<string>noimg.png</string>
	<key>com.apple.keylayout.Inuktitut-QWERTY</key>
	<string>noimg.png</string>
	<key>com.apple.keylayout.InuttitutNunavik</key>
	<string>noimg.png</string>
	<key>com.apple.keylayout.IrishExtended</key>
	<string>ie.png</string>
	<key>com.apple.keylayout.Jawi-QWERTY</key>
	<string>noimg.png</string>
	<key>com.apple.keylayout.Kannada-QWERTY</key>
	<string>noimg.png</string>
	<key>com.apple.keylayout.Kannada</key>
	<string>noimg.png</string>
	<key>com.apple.keylayout.Kazakh</key>
	<string>kz.png</string>
	<key>com.apple.keylayout.Khmer</key>
	<string>kh.png</string>
	<key>com.apple.keylayout.Kurdish-Sorani</key>
	<string>noimag.png</string>
	<key>com.apple.keylayout.Malayalam-QWERTY</key>
	<string>in.png</string>
	<key>com.apple.keylayout.Malayalam</key>
	<string>in.png</string>
	<key>com.apple.keylayout.Maltese</key>
	<string>mt.png</string>
	<key>com.apple.keylayout.Maori</key>
	<string>maori.png</string>
	<key>com.apple.keylayout.Myanmar-QWERTY</key>
	<string>mn.png</string>
	<key>com.apple.keylayout.Nepali</key>
	<string>np.png</string>
	<key>com.apple.keylayout.NorthernSami</key>
	<string>nosa.png</string>
	<key>com.apple.keylayout.NorwegianExtended</key>
	<string>no.png</string>
	<key>com.apple.keylayout.NorwegianSami-PC</key>
	<string>no.png</string>
	<key>com.apple.keylayout.Oriya-QWERTY</key>
	<string>noimg.png</string>
	<key>com.apple.keylayout.Oriya</key>
	<string>noimg.png</string>
	<key>com.apple.keylayout.Persian-QWERTY</key>
	<string>noimg.png</string>
	<key>com.apple.keylayout.Persian</key>
	<string>noimg.png</string>
	<key>com.apple.keylayout.Persian-ISIRI2901</key>
	<string>noimg.png</string>
	<key>com.apple.keylayout.Romanian-Standard</key>
	<string>ro.png</string>
	<key>com.apple.keylayout.Romanian</key>
	<string>ro.png</string>
	<key>com.apple.keylayout.Sami-PC</key>
	<string>fi.png</string>
	<key>com.apple.keylayout.Serbian-Latin</key>
	<string>rs.png</string>
	<key>com.apple.keylayout.Sinhala-QWERTY</key>
	<string>lk.png</string>
	<key>com.apple.keylayout.Sinhala</key>
	<string>lk.png</string>
	<key>com.apple.keylayout.Slovenian</key>
	<string>si.png</string>
	<key>com.apple.keylayout.SwedishSami-PC</key>
	<string>se.png</string>
	<key>com.apple.keylayout.Tamil99</key>
	<string>noimg.png</string>
	<key>com.apple.keylayout.Telugu-QWERTY</key>
	<string>noimg.png</string>
	<key>com.apple.keylayout.Telugu</key>
	<string>noimg.png</string>
	<key>com.apple.keylayout.Thai-PattaChote</key>
	<string>th.png</string>
	<key>com.apple.keylayout.Thai</key>
	<string>th.png</string>
	<key>com.apple.keylayout.TibetanOtaniUS</key>
	<string>noimg.png</string>
	<key>com.apple.keylayout.Tibetan-QWERTY</key>
	<string>noimg.png</string>
	<key>com.apple.keylayout.Tibetan-Wylie</key>
	<string>noimg.png</string>
	<key>com.apple.keylayout.Turkish-QWERTY-PC</key>
	<string>tr.png</string>
	<key>com.apple.keylayout.Turkish-QWERTY</key>
	<string>tr.png</string>
	<key>com.apple.keylayout.Turkish</key>
	<string>tr.png</string>
	<key>com.apple.keylayout.USExtended</key>
	<string>us.png</string>
	<key>com.apple.keylayout.UnicodeHexInput</key>
	<string>noimg.png</string>
	<key>com.apple.keylayout.Urdu</key>
	<string>pk.png</string>
	<key>com.apple.keylayout.Uyghur</key>
	<string>noimg.png</string>
	<key>com.apple.keylayout.Vietnamese</key>
	<string>vn.png</string>
	<key>com.apple.keylayout.Welsh</key>
	<string>welsh.png</string>
	<key>com.apple.keylayout.ZhuyinBopomofo</key>
	<string>cn.png</string>
	<key>com.apple.keylayout.390Hangul</key>
	<string>kr.png</string>
	<key>com.apple.keylayout.3SetHangul</key>
	<string>kr.png</string>
	<key>com.apple.keylayout.GJCRomaja</key>
	<string>kr.png</string>
	<key>com.apple.keylayout.HNCRomaja</key>
	<string>kr.png</string>
	<key>com.apple.keylayout.WubihuaKeyboard</key>
	<string>cn.png</string>
	<key>com.apple.keylayout.WubixingKeyboard</key>
	<string>cn.png</string>
	<key>com.apple.keylayout.ZhuyinEten</key>
	<string>cn.png</string>
</dict>
</plist>
